body{

        background-color:blue;
        background-image:url('square.png');
        background-repeat:repeat;
        background-size:50px;
        background-position: center;
        background-attachment: scroll;
    
}

img{
    width: 100%;
}
div.layout{
    display: flex;
}

div.a{
    opacity: 0%;
}
div.one{
    width: 50%;
}
div.three{
    background-color:blue;
}
div.x{
    width:50%;
}
div.b{
    opacity: 100%;
}
div.two{
    border: 10px color red;
}
div.c{
    width: 40%;
}

div.three{
    width: 70%;
}
div.y{
    border-radius: 40%;
}
div.z{
    background-color: #d6dcdb;
}

div.random{
    transition: 1s;
}