@font-face {
    font-family:'After';
    src: url('AftaSerifThin-Regular.woff');
 }
 @font-face {
    font-family:'Belle';
    src: url('Bellefair-Regular.woff');
 }

/* setup */

body{
    background-color: rgb(255, 255, 255);
    background-image: url(images/page\ 3.png) ;
    background-repeat: no-repeat;
    background-size: 1500px;
    color: rgb(16, 16, 15);
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    line-height: 21px;
}

div{
    box-sizing: border-box;
}

img{
    width: 100%;
}

/* typography */

div.largetext{
    font-size: 70px;
    line-height: 85px;

}
div.midtext{
    font-size: 50px;
    line-height: 32px;

}
div.mediumtext{
    font-size: 27px;
    line-height: 32px;

}
div.smalltext{
    font-size: 16px;
    line-height: 18px;

}
div.sans{
    font-family:'Belle';
}

div.serif{
    font-family:'Afta'
}

div.mono{
    font-family: 'Courier New', Courier, monospace;
}

div.heading{
    text-align: center;
}
/* colours */

div.textbrown{
    color: rgb(63, 50, 40);
}

div.textwhite{
    color: rgb(171, 180, 187);
}

div.textyellow{
    color: rgb(255, 223, 95);
}

div.textpurple{
    color: rgb(91, 23, 76);
}

div.textburgundy{
    color: rgb(85, 34, 34);
}

div.bggray{
    background-color: rgb(69, 76, 59);
    padding: 10px;
}

div.bgwhite{
    background-color: white;
}

div.bgburgundy{
    background-color: rgb(85, 34, 34);
} 

/* widths */

div.w100{
    width: 100%;
}

div.w80{
    width: 80%;
}

div.w75{
    width: 75%;
}

div.w66{
    width: 66.66666%;
}

div.w60{
    width: 60%;
}

div.w50{
    width: 50%;
   
}

div.w40{
    width: 40%;
}

div.w33{
    width: 33.33333%;
}

div.w25{
    width: 25%;
}

div.w20{
    width: 20%;
}

/* moving */

div.containerone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 30vh;
    overflow: hidden;

}

.scroll{
    display: flex;
    white-space: nowrap;
    margin: 0 2em;

}

.scroll div{
    display: flex;
    gap: 2em;
}

.scroll p{
    font-size: 90px;
    
}
div.RightToLeft{
    animation: RightToLeft 20s infinite linear;
}

@keyframes RightToLeft{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-50%);
    }
}

/* design */

div.container{
    display: flex;
    flex-wrap: wrap;
}


div.page{
    height: 100vh;
    overflow: scroll;
}

div.padding{
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

div.side{
    margin-left: auto
}

div.middle{
    margin-left: auto;
    margin-right: auto
}

div.subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
div.body{
    margin-top: 50px;
    margin-bottom: 50px;
}
 div.p5{
    padding: 5px;
 }

 div.p10{
    padding: 10px;
 }
 
 div.pside{
    padding-left: 50px;
 }

 div.ptop{
    padding-top: 20px;
 }

 div.pbottom{
    padding-bottom: 50px;
 }

 div.ptoptwo{
    padding-top: 60px;
 }

 div.pbottomtwo{
    padding-bottom: 90px;
 }

 div.ptopthree{
    padding-top: 20px;
 }
 div.pbottomthree{
    padding-bottom: 120px;
 }

 /* rows at bottom */

 div.row{
    border-bottom: 1px solid black;
    padding: 10px;
 }
 div.textmedium{
    font-size: 30px;
 }

 div.block{
    padding-top: 80px;
    padding-bottom: 80px;
 }

 div.row2{
    border-bottom: 2px solid rgb(91, 23, 76);
    padding-bottom: 60px;
 }